<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>传承人档案</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" th:href="@{/css/backbase.css}"/>
    <style>
        .sidebar nav a.active {
            background-color: #9e89ff;
        }
    </style>
</head>
<body>

<div th:replace="fragments/sidebar :: sidebar('backinheritor', ${admin})"></div>

<div style="margin-left: 220px; padding: 20px;">
    <div class="top-right-buttons">
        <a th:href="@{/inheritorUpdate.html}" class="action-button">Add</a>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
