<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>非遗项目</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" th:href="@{/css/backbase.css}"/>
    <style>
        .sidebar nav a.active {
            background-color: #9e89ff;
        }
    </style>
</head>
<body>

<div th:replace="fragments/sidebar :: sidebar('backheritage', ${admin})"></div>

<div style="margin-left: 220px; padding: 20px;">

    <div class="top-right-buttons">
        <a th:href="@{/admin/heritage/add}" class="action-button">Add</a>
    </div>

    <div class="heritage-list">
        <div th:each="item : ${heritageList}" class="heritage-row">
            <a th:href="@{'/admin/heritage/detail?id=' + ${item.id}}" th:text="${item.name}"
               class="heritage-name-link"></a>
            <div class="heritage-actions">
                <a th:href="@{'/admin/heritage/edit?id=' + ${item.id}}" class="action-button edit-btn">Edit</a>
                <a href="#" class="action-button delete-btn">Delete</a>
            </div>
        </div>
    </div>


</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
