body {
    margin: 0;
    font-family: "Microsoft YaHei", sans-serif;
    background-color: #121212;
    color: white;
}

.sidebar {
    width: 220px;
    background: linear-gradient(to bottom, #726dff, #a07cff);
    color: #f0f0f0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar nav ul {
    list-style: none; /* 去掉圆点 */
    padding: 0;
    margin: 0;
}

.sidebar nav li {
    margin-bottom: 8px;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    display: block; /* 让a标签充满li，方便悬停 */
    padding: 8px 12px;
    border-radius: 4px; /* 小方块圆角 */
    transition: background-color 0.3s ease;
}

.sidebar nav a:hover {
    background-color: #9e89ff;
}


.admin-info {
    padding: 20px 10px 10px;
}

.admin-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #27a776;
    margin-bottom: 10px;
}

.admin-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4px;
    color: #fff;
}

.admin-title {
    font-size: 14px;
    color: #bbb;
}
